<html>
  <head></head>
  <body align='center'>
  	<h1>Hangman : Joshua Wootonn</h1>
    <h3>
        <%= word %>
    </h3>
    <form action='submit'>
  	  Guess: <input type='text' name='guess' />
  	  <input type='submit' value='Enter' />
	  </form>
    <p>
      Correct guesses: <%= correct %>
      </br>
      Incorrect Guesses: <%= incorrect %>
      </br>
      Guesses Left: <%= attempts %>
    </p>

    <h3>
      <%= message %>
    </h3>

  </body>
</html>
